<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="DeployConfiguration" type="Deploy.ConfigSection, Deploy"/>
  </configSections>

  <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>

  <DeployConfiguration>
    <Deploy name="develop" host="heraeveriliondev.cloudapp.net" port="21" userName="Everilion\Mgoicoch" password="VDlnV2RwWVpNMQ==" publishFolder="PublishOut" />
    <Deploy name="production" host=".." port="21" userName=".." password=".." publishFolder=".." />
  </DeployConfiguration>

  <appSettings>
    <add key="deployfile" value="deploy.json"/>
  </appSettings>

</configuration>
